.debugbar {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: rgb(0, 255, 170);
  color: #333;
  padding: 15px;
  border-radius: 5px;
}

.debugbar h1 {
  font-size: 18px;
}

.debugbar ul {
  margin: 0;
  padding: 10px 0 0;
  list-style: none;
  display: flex;
}

.debugbar ul li {
  border-left: 1px solid #333;
  padding: 0 10px 0 10px;
  font-size: 14px;
}

.debugbar ul li:first-child {
  border-left: 0;
  padding-left: 0;
}

.money-too-low {
  color: red !important;
}
