html, body {
  height: 100vh;
}

body {
  background-color: #05162c;
  color: #fff;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  width: 100%;
  max-width: 800px;
  padding: 30px 0;
}

.card {
  background-color: #262a34;
  color: #c9cacc;
  border-radius: 10px;
}

.card .card-header {
  border-bottom: 1px solid #36383d;
}

.card .card-header h1 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.card .card-content {
  padding: 15px 15px 15px;
}

.card .card-footer {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.05);
}

form h2 {
  font-size: 16px;
}

form .btn-primary {
  background-color: rgb(0, 255, 170);
  border-color: rgb(0, 255, 170);
  color: #333;
  width: 100%;
  max-width: 200px;
}

form .btn-primary:hover,
form .btn-primary:active,
form .btn-primary:focus {
  background-color: rgb(0, 255, 132);
  border-color: rgb(0, 255, 132);
  color: #333;
}

form .btn-reset {
  float: right;
}

.copyright {
  /* display: inline-block; */
  /* margin: 0 auto; */
  /* position: absolute;
  bottom: 0;
  right: 0; */
  /* background-color: rgb(0, 255, 170); */
  /* color: #333; */
  font-size: 14px;
  /* padding: 10px; */
  border-radius: 5px 0 0 0;
}

.extension-version {
  font-weight: bold;
}

.saved-notif {
  background-color: rgb(0, 255, 170);
  color: #333;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 7px 15px;
  border-radius: 5px;
  font-size: 16px;
  opacity: 0;
  transition: all linear 200ms;
  animation-duration: 500ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.saved-notif.show {
  animation-play-state: running;
  animation-name: showNotif;
}

.saved-notif.hide {
  animation-play-state: running;
  animation-name: hideNotif;
}

@keyframes showNotif {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes hideNotif {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(-100px);
    opacity: 0;
  }
}
